*{
  box-sizing: border-box;
}

#main-box {

  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.slackusername {
  display: none;
}

#profile_img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button {
  background-color: EEDCEE;
  border: 1px solid EEDCEE;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
  margin: 20px;
  padding: 50px;
  border-radius: 10px;
  border-radius: rgb(240, 226, 226);
}

button:hover {
  background-color: rgb(224, 213, 213);
}

.hng {
  display: flex;
  justify-content: center;
}

.hng img {
  padding: 10px;

}

.zuri1 {
  display: flex;
  justify-content: space-between;
  padding-top: 5em;
}
.zuri1 img {
  padding: 15px;
}
a {
  text-decoration: none;
  color: black;
  font-family: Fantasy;
}

@media screen and (max-width: 600px) {
  .zuri1 {
    flex-direction: column;
  }
}
